<a href="https://colab.research.google.com/github/dvstar22/data_analysis/blob/main/%D0%9C%D0%BE%D0%BD%D1%82%D0%B5-%D0%9A%D0%B0%D1%80%D0%BB%D0%BE%3A%20%D0%BF%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0%20%20%D0%92%D0%B5%D1%80%D0%BE%D1%8F%D1%82%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dice = pd.Series([1,2,3,4,5,6])

In [ ]:
dice.sample(1).values[0]

4

In [ ]:
rolls = [dice.sample(1).values[0] for _ in range(100000)]

In [ ]:
rolls[:10]

[4, 5, 4, 1, 2, 5, 1, 1, 3, 1]

In [ ]:
pd.Series(rolls).value_counts(normalize=True)

1    0.16751
5    0.16715
2    0.16687
3    0.16665
6    0.16592
4    0.16590
dtype: float64

In [ ]:
1/6

0.16666666666666666

In [ ]:
dice.value_counts(normalize=True)

6    0.166667
5    0.166667
4    0.166667
3    0.166667
2    0.166667
1    0.166667
dtype: float64

Определить вероятность того, что в группе, состоящей из 23 человек, у двух людей будет совпадение дней рождения (число и месяц).

In [ ]:
bd = pd.Series(range(365))

In [ ]:
bd

0        0
1        1
2        2
3        3
4        4
      ...
360    360
361    361
362    362
363    363
364    364
Length: 365, dtype: int64

In [ ]:
t = bd.sample(23,replace=True)

In [ ]:
t.duplicated()

82     False
361    False
332    False
329    False
268    False
315    False
58     False
177    False
23     False
223    False
5      False
14     False
48     False
36     False
318    False
281    False
341    False
362    False
228    False
325    False
207    False
328    False
68     False
dtype: bool

In [ ]:
t.duplicated().max()

False

In [ ]:
rooms = [bd.sample(23,replace=True).duplicated().max() for _ in range(10000)]

In [ ]:
rooms[:10]

[False, False, True, False, True, False, False, True, True, True]

In [ ]:
np.mean(rooms)

0.5054

In [ ]:
rooms = [bd.sample(57,replace=True).duplicated().max() for _ in range(10000)]

In [ ]:
np.mean(rooms)

0.99

In [ ]:
rooms = [bd.sample(364,replace=True).duplicated().max() for _ in range(100000)]

In [ ]:
np.mean(rooms)

1.0

Экзамен проходит по следующей схеме: если некоторый билет уже был вытянут, то после ответа экзаменатор откладывает его в сторону. Студент выучил 20 билетов из 30. Когда ему выгоднее идти, первым или вторым, чтобы вероятность вынуть выученный билет была больше?

In [ ]:
tickets = list(range(1,31))

In [ ]:
tickets

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [ ]:
student = list(range(1,21))

In [ ]:
student

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
from random import shuffle

In [ ]:
tickets

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [ ]:
shuffle(tickets)

In [ ]:
tickets

[3,
 1,
 6,
 2,
 28,
 10,
 17,
 5,
 16,
 18,
 21,
 13,
 22,
 9,
 29,
 19,
 4,
 27,
 11,
 24,
 8,
 7,
 23,
 26,
 30,
 25,
 20,
 15,
 12,
 14]

In [ ]:
3 in student

True

In [ ]:
n = 100000
student = list(range(1,21))
tickets = list(range(1,31))
result = []

for _ in range(n):
  shuffle(tickets)
  result.append(tickets[0] in student)

In [ ]:
np.mean(result)

0.66842

In [ ]:
n = 100000
student = list(range(1,21))
tickets = list(range(1,31))
result = []

for _ in range(n):
  shuffle(tickets)
  result.append(tickets[1] in student)

In [ ]:
np.mean(result)

0.66769

In [ ]:
n = 100000
student = list(range(1,21))
tickets = list(range(1,31))
result = []

for _ in range(n):
  shuffle(tickets)
  result.append(tickets[2] in student)

In [ ]:
np.mean(result)

0.66418

In [ ]:
2 / 3

0.6666666666666666

Ночью произошло ДТП с участием такси. В городе работают две компании такси — «Синие» и «Зелёные». «Зелёным» принадлежит 85% такси, «Синим» 15%. Свидетель аварии утверждает, что такси принадлежало «Синим». Следственный эксперимент показал, что ночью свидетель верно определяет цвет такси в 80%. Какова вероятность того, что такси действительно принадлежало «Синим»?

In [ ]:
np.random.binomial(1,0.15)

0

In [ ]:
def witness(taxi):
  if np.random.binomial(1,0.8):
    return taxi
  return abs(taxi - 1)

In [ ]:
witness(0)

1

In [ ]:
n = 100000
result = []
for _ in range(n):
  taxi = np.random.binomial(1,0.15)
  witness_answer = witness(taxi)
  result.append((taxi,witness_answer))

In [ ]:
t = pd.DataFrame(result, columns=['taxi','witness_answer'])

In [ ]:
t.groupby('witness_answer')['taxi'].mean()

witness_answer
0    0.043003
1    0.416273
Name: taxi, dtype: float64

Русская рулетка. Есть револьвер с 2 вставленными подряд патронами. Первый крутит барабан и стреляет и остается жив. Твоя очередь: тебе предлагает покрутить барабан перед выстрелом. Согласишься или сразу выстрелишь и почему?

In [ ]:
chamber = [1,1,0,0,0,0]

In [ ]:
[1,0,0,0,0,1]

[1, 0, 0, 0, 0, 1]

In [ ]:
def one_turn(chamber):
  new_chamber = [0,0,0,0,0,0]
  n = len(chamber)
  for i in range(n):
    if i < n-1:
      new_chamber[i+1] = chamber[i]
    else:
      new_chamber[0] = chamber[i]
  return new_chamber

In [ ]:
chamber = [1,1,0,0,0,0]

In [ ]:
one_turn(chamber)

[0, 1, 1, 0, 0, 0]

In [ ]:
one_turn([0, 1, 1, 0, 0, 0])

[0, 0, 1, 1, 0, 0]

In [ ]:
one_turn([0, 0, 1, 1, 0, 0])

[0, 0, 0, 1, 1, 0]

In [ ]:
one_turn([0, 0, 0, 1, 1, 0])

[0, 0, 0, 0, 1, 1]

In [ ]:
one_turn([0, 0, 0, 0, 1, 1])

[1, 0, 0, 0, 0, 1]

In [ ]:
one_turn([1, 0, 0, 0, 0, 1])

[1, 1, 0, 0, 0, 0]

In [ ]:
def spin_chamber(chamber):
  n = np.random.randint(1,7)
  for _ in range(n):
    chamber = one_turn(chamber)
  return chamber

In [ ]:
spin_chamber([1, 1, 0, 0, 0, 0])

[1, 1, 0, 0, 0, 0]

In [ ]:
pd.Series([spin_chamber([1, 1, 0, 0, 0, 0]) for _ in range(100000)]).astype(str).value_counts(normalize=True)

[0, 1, 1, 0, 0, 0]    0.16757
[0, 0, 1, 1, 0, 0]    0.16750
[1, 1, 0, 0, 0, 0]    0.16747
[1, 0, 0, 0, 0, 1]    0.16637
[0, 0, 0, 1, 1, 0]    0.16594
[0, 0, 0, 0, 1, 1]    0.16515
dtype: float64

In [ ]:
# заряжаем револьвер
chamber = [1,1,0,0,0,0]
# первый игрок крутит барабан
chamber = spin_chamber(chamber)
# первый игрок стреляет
chamber = one_turn(chamber)
p1 = chamber[0]
chamber[0] = 0

# второй игрок вращает барабан -- нужно ли это действие?
chamber = spin_chamber(chamber)

# второй игрок стреляет
chamber = one_turn(chamber)
p2 = chamber[0]

In [ ]:
p1

0

In [ ]:
p2

0

In [ ]:
n = 10000
result = []

for _ in range(n):
  # заряжаем револьвер
  chamber = [1,1,0,0,0,0]
  # первый игрок крутит барабан
  chamber = spin_chamber(chamber)
  # первый игрок стреляет
  chamber = one_turn(chamber)
  p1 = chamber[0]
  chamber[0] = 0

  # второй игрок вращает барабан -- нужно ли это действие?
  chamber = spin_chamber(chamber)

  # второй игрок стреляет
  chamber = one_turn(chamber)
  p2 = chamber[0]

  result.append((p1,p2))

In [ ]:
t = pd.DataFrame(result,columns=['p1','p2'])

In [ ]:
t

      p1  p2
0      0   0
1      0   1
2      0   0
3      0   0
4      0   0
...   ..  ..
9995   0   1
9996   1   1
9997   0   1
9998   0   0
9999   0   0

[10000 rows x 2 columns]

In [ ]:
t.groupby('p1')['p2'].agg(['count','mean'])

    count      mean
p1
0    6633  0.326851
1    3367  0.168102

In [ ]:
n = 10000
result = []

for _ in range(n):
  # заряжаем револьвер
  chamber = [1,1,0,0,0,0]
  # первый игрок крутит барабан
  chamber = spin_chamber(chamber)
  # первый игрок стреляет
  chamber = one_turn(chamber)
  p1 = chamber[0]
  chamber[0] = 0

  # второй игрок не вращает барабан
  # chamber = spin_chamber(chamber)

  # второй игрок стреляет
  chamber = one_turn(chamber)
  p2 = chamber[0]

  result.append((p1,p2))

In [ ]:
t = pd.DataFrame(result,columns=['p1','p2'])

In [ ]:
t.groupby('p1')['p2'].agg(['count','mean'])

    count      mean
p1
0    6716  0.242108
1    3284  0.485384